nav{
     display: flex;
     
     align-items: center;
     justify-content: space-between;
}

nav h2{
     font-size: 2.2rem;
     flex: 2;
}

.blog-categories{
     display: flex;
     gap: 2.5rem;
     text-transform: uppercase;
     flex: 1;
     font-size: 1.5rem;
}

nav div span{
     font-size: 1.5rem;
}

.logout-btn{
     cursor: pointer;
}