.posts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 5rem auto;
  padding: 2rem;
  justify-content: center; /* Center the posts when there's extra space */
  align-items: center;
}

.post {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background: #fff;
  position: relative;
  padding-bottom: 4rem;
  max-width: 300px;
  min-width: 300px; /* Minimum width for each post */
}

.post-img {
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-content {
  padding: 1rem;
  background-color: #fff;
  font-size: 1.4rem;
}

.post-content  h3{
  font-size: 1.8rem;
}
.post-title {
  height: 80px; /* Specified height for the title */
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: 1.8rem;
}

.post-title a {
  color: inherit;
  text-decoration: none;
}

.post-author-date {
  
  font-size: 1.2rem;
  color: #777;
  margin: 0.5rem 0;
}

.post-description {
  padding: 0rem 0;
  font-weight: 300;
  font-style: italic;
  font-size: 1.2rem;
  height: max-content; /* Specified height for the description */
  text-align: left;
  margin-top: 1rem;
  line-height: 1.2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6; /* number of lines to show */
  /* background-color: #fff8f8; */
}

.read-more-link {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  width: max-content;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 92%;
  right: 38%;
 
  font-size: 1.2rem;
}

.read-more-link:hover {
  background-color: #0056b3;
}
